<div class="contents row">
  <%= form_tag('/posts', method: :post) do %>
    <h3>
      投稿する
    </h3>
    <input placeholder="本のタイトル" type="text" name="book">
    <input placeholder="表題" type="text" name="title">
    <textarea cols="30" name="text" placeholder="感想" rows="10"></textarea>
    <input type="submit" value="SENT">
  <% end %>
</div>